<div style="border-top: solid 5px #2873f0; background-color: #f0f0fd;margin-top: 20px; padding: 20px 50px">
    <div style="color: #2872ef;font-size: 25px;font-weight: bold">Hello {{username}},</div>
    <div>
        <p>We have reset your password. Below we have given you a temporary new password which you can use to login into your account</p>

        <p>
            <strong> New Password : {{password}}</strong>
        </p>

        <p>Note : Please change your password once login</p>
        
        <a href="{{url}}">Click Here To Login</a>
        <div>
            <p><strong>Cheers</strong></p>
            <p><strong>By Admerk Corp Team</strong></p>
        </div>
    </div>
</div>