<div style="border-top: solid 5px #2873f0; background-color: #f0f0fd;margin-top: 20px; padding: 20px 50px">
    <div>
        <p>Welcome to Admerk</p>
        <p>You have been invited to join Admerk Corp, by your friend {{name}}</p>
        
        <a href="{{link}}">Click To Join</a>
        <div>
            <p><strong>Cheers</strong></p>
            <p><strong>By Admerk Corp Team</strong></p>
        </div>
    </div>
</div>